@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 300 47% 3%;
    --foreground: 210 40% 98%;
    --card: 351 54% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 45 85% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 45 85% 60%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 20%;
    --input: 217 33% 22%;
    --ring: 45 85% 60%;
    --chart-1: 45 85% 60%;
    --chart-2: 35 85% 60%;
    --chart-3: 25 85% 60%;
    --chart-4: 15 85% 60%;
    --chart-5: 5 85% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 300 47% 3%;
    --foreground: 210 40% 98%;
    --card: 351 54% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 45 85% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 45 85% 60%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 20%;
    --input: 217 33% 22%;
    --ring: 45 85% 60%;
    --chart-1: 45 85% 60%;
    --chart-2: 35 85% 60%;
    --chart-3: 25 85% 60%;
    --chart-4: 15 85% 60%;
    --chart-5: 5 85% 60%;
    --radius: 0.5rem;
    --sidebar-background: 222 47% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 45 85% 60%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 222 47% 13%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 13%;
    --sidebar-ring: 45 85% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
